/* reset */
:root {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li, div, section, body, header, span{
	margin: 0px;
	padding: 0px;
	font-size: initial;
}

a{
	color: initial;
	text-decoration: none;
}

button{
	border: none;
	background: none;
}

ul, li{
	list-style-type: none;
}

.ally-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

.none-pointer{
	pointer-events: none;
	cursor: default;
}

/* 공통 */
[class$="section"]{
	padding: 100px 0px;
}

.l_wrapper{
	width: 1080px;
	margin: 0 auto;
}

header{
	display: flex;
	align-items: center;
	max-width: 1080px;
}

h1{
	font-size: 40px;
	font-weight: 500;
}

strong{
	font-weight: 500;
}

img{
	width: 100%;
	height: 100%;
	vertical-align: top;
	z-index: -1;
}

p{
	font-size: 14px;
}

.content{
	margin-top: 100px;
	display: flex;
	gap: 24px;
}

.image{
	position: relative;
}

.list{
	display: flex;
	background: #fff;
}

.explanation{
	padding: 24px;
}

.explanation-name{
	font-weight: 700;
	margin-bottom: 32px;
}

/* seashell-section */
.seashell-section{
	background: seashell;
}

.seashell-header{
	justify-content: space-between;
}

.seashell-header h1{
	color: salmon;
	flex-basis: 35%;
}

.seashell-header strong{
	background: linear-gradient(to top, white 40%, transparent 40%);
}

.calendar{
	font-size: 14px;
	font-weight: 700;
	color: white;
	background: orangered;
	padding: 17px 20px;
	border-radius: 7px;
	box-shadow: inset 0px -4px 0px 0px rgb(214, 58, 1);
}

.seashell-section .list{
	flex-direction: column;
	width: 100%;
	box-shadow: 0 10px 10px 0px rgb(223, 223, 223);
}

.seashell-section .explanation-name{
	font-size: 24px;
	min-height: 58px;
}

.skill{
	display: flex;
	margin-bottom: 24px;
}

.skill li{
	font-size: 12px;
	font-weight: 700;
	color: rgb(103, 51, 153);
	border-radius: 5px;
	background: #f1e0f8;
	margin-right: 5px;
	padding: 5px 8px;
}

.seashell-section p,.seashell-section a{
	color: #7a7a7a;
}

.seashell-section .explanation{
	display: flex;
	flex-direction: column;
}

.seashell-section .explanation:nth-child(2){
	flex-grow: 2;
}

.seashell-section p{
	font-size: 14px;
	flex-grow: 2;
}

.plus-info{
	border-top: 1px solid #eeeeee;
	font-size: 12px;
	margin-top: 24px;
	padding-top: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.plus-info span{
	font-size: inherit;
	padding-top: 5px;
}

.people-group img{
	max-width: 30px;
	max-height: 30px;
	border: 5px solid white;
	border-radius: 50%;
	top: 50%;
	transform: translate(50%, -15%);
}

.people-group img:first-of-type{
	position: absolute;
	right: 21%;
	z-index: 1;
}

.people-group img:nth-of-type(2){
	position: absolute;
	right: 13%;
	z-index: 2;
}

.people-group img:nth-of-type(3){
	position: absolute;
	right: 5%;
	z-index: 3;
}

.soldout-badge {
	position: absolute;
	z-index: 1;
	max-width: 30%;
	max-height: 40%;
	transform: translate(-8%, -8%);
}

/* purple-section */
.purple-section{
	background: #673399;
}

.purple-title{
	color: white;
	flex-basis: 26%;
}

.purple-header strong{
	background: linear-gradient(to top, orangered 40%, transparent 40%);
}

.purple-header p{
	max-width: 550px;
	display: flex;
	color: #bd8fe8;
	line-height: 1.5;
	align-items: center;
}

.purple-header p::before{
	content: '';
	width: 300px;
	height: 3px;
	margin-right: 30px;
	background-color: currentColor;
}

.purple-section .content{
	flex-direction: column;
}

.purple-section .list{
	font-size: 18px;
}

.purple-section .image{
	width: 26%;
	background-color: #68339985;
}

.purple-section .second-title{
	position: absolute;
	font-size: 30px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	inset: 0;
	color: #fff;
	background-color: rgba(103, 51, 153, 0.4);
}

.purple-section .explanation-name{
	color: #673399;
	font-size: 18px;
}

.explanation-list li{
	font-size: 14px;
	margin-bottom: 10px;
}

/* 리스트 점 */
.explanation-list li::before{
	content: '';
	width: 10px;
	height: 10px;
	margin: 4px 8px 0px 0px;
	display: inline-block;
	background-color: #bd8fe8;
	border-radius: 50px;
}

.purple-section .list:nth-of-type(even){
	flex-direction: row-reverse;
	justify-content: space-between;
}

@media(max-width: 1080px){ 
	.l_wrapper{
		width: 80%;
	}

	header{
		flex-direction: column;
		align-items: start;
	}

	h1{
		margin-bottom: 20px;
	}

	.seashell-section .content{
		flex-direction: column;
	}
	.purple-section .list{
		flex-direction: column;
		
	}
	
	.purple-section .image{
		width: 100%;
	}

	/* 보라파트 반응형 */

	.purple-section .list:nth-of-type(2){
		flex-direction: column;
		justify-content: initial;
	}
}