/* Reset */
h1, p{
    margin: initial;
}

img{
    vertical-align: top;
}

.wrapper{
    /* box-shadow: inset 0 0 10px red; */
    width: 300px;
    margin: 100px auto;
}

/* components */
/* .card{

} */

.card-cover{
    /* box-shadow: inset 0 0 10px skyblue; */
    margin: 0 auto;
    display: block;
}

.card-contents{
    /* box-shadow: inset 0 0 10px rebeccapurple; */
    border-radius: 10px 10px 30px 30px;
    background-color: brown;
    color: white;
    background-color: #93572e;
    background-image: url(./images/green.png);
    background-repeat: repeat-x;
    padding: 64px 20px 40px 20px;
    border-bottom: 10px solid #4a260b;
    /* box-shadow: inset -2px 20px rgb( 0 0 0 / .6); */
}

.card-contents h1{
    margin-bottom: 10px;
}

.card-contents p{
    color:antiquewhite;
}